/* body {
  background: #16222d;
}

* {
  box-sizing: border-box;
}

.topbar span {
  color: whitesmoke;
  
}

.app {
  grid-template-columns: 30%, 40%, 30%;
  display: grid; 
}

/* space between */
.topbar {
    height: 60px;
    
  
  }
  /* flex container, direction column */
  .leftnav a {
    display: flex; 
    flex-direction: column;
    color: lightblue;
    text-decoration: none;
    padding: 1px;
    margin-left: 10px;
  
  }
  
  .copy {
  
  }
  
  